*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-size: 10px;
    background-color: black;
}
section
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container
{
    /* background-color: black; */
    width: 6vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator
{
    background-color: blue;
    border-radius:2rem ;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4,7rem);
    gap: 2rem;
    -webkit-border-radius:1 ;
    -moz-border-radius:1 ;
    -ms-border-radius:1 ;
    -o-border-radius:1 ;
}
.calculator input 
{
    border: none;
    border-radius: 2rem;
    height: 8rem;
    grid-column:span 4;
    font-size: 5rem;
    text-align: right;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.calculator .clr
{
    grid-column:span 2;
}

button
{
    border: none;
    border-radius: 50%;
    font-size: 5rem;
    padding: 1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.buttons button
{
    margin: 0 1rem;

}
.buttons .dot 
{
    padding:1rem 1.7rem;
}
input 
{
    font-size: 2rem;
}
#back img 
{
    padding-top: 1rem;
    width: 5rem;
    /* font-weight: 900; */
}
#result 
{
    background-color: orange;
}